# Python
__pycache__/
*.py[cod]
venv/
env/
.venv/

# Node.js
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env

# Production database
LightsailDefaultKey-eu-central-1.pem

# IDE
.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Mock service data
tests/mocks/rekognition_data.json